@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!!!</h1>
    <p>Acesse o sistema de gerenciamento de tarefas aqui -> <a href="https://localhost:7049/Tarefa">Lista de Tarefas</a></p>
</div>
